body {
  text-align: center;
  background-color: #1a1a1a;
  color: #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Almendra", "Helvetica Neue";
  font-size: 4em;
}

#mainButtonsContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100vw;
}

#trackerContainer {
  margin-top: 120px;
}

#timeOfDayToggle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#informationContainer {
  position: absolute;
  right: 0;
}

#dialogueBox {
  position: absolute;
  width: 300px; /* Adjust width as needed */
  background-color: rgb(244, 243, 243);
  border: 1px solid #9c9c9c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  top: 30px;
  right: 0;
  display: none;
}

p, dl {
  font-size: 0.2em;
  color: rgb(61, 61, 61);
  text-align: left;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 2px;
}

dt {
  grid-column-start: 1;
}

dt .key {
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
}

dd {
  grid-column-start: 2;
}

.disclaimer {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.15em;
}

.hidden {
  display: none;
}

.background-dusk {
  background-image: url("images/village-dusk-4x.webp");
}

.background-dawn {
  background-image: url("images/village-dawn-4x.webp");
}

.background-dawn,
.background-dusk {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 5em;
  color: #d6d6d6;
  margin: 0;
  font-family: "Xanh Mono", serif;
}

button {
  background-color: transparent;
  color: #d6d6d6;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.3em;
  cursor: pointer;
  font-family: "Almendra", "Helvetica Neue";
  transition: transform 0.3s ease;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: rgb(177, 36, 36);
}

.timerRunning button.restricted {
  color: rgb(147, 147, 147);
  cursor: default;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#timerContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#timerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
  h1 {
    font-size: 5.5em;
  }
  button {
    font-size: 0.17em;
    padding: 5px 10px;
  }
  #toggleTimeOfDayButton {
    font-size: 1em;
  }
}
