body {
  text-align: center;
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  font-family: "Almendra", "Helvetica Neue";
  font-size: 4rem;
}

img {
  width: 50px;
}

h1 {
  font-size: 5em;
  margin: 0;
  font-family: "Xanh Mono", serif;
}

button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.3em;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  transition: transform 0.3s ease;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: rgb(177, 36, 36);
}

p,
dl {
  font-size: 0.2em;
  color: rgb(61, 61, 61);
  text-align: left;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 2px;
}

dt {
  grid-column-start: 1;
}

.key {
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
}

dd {
  grid-column-start: 2;
}

#characterTracker {
  display: flex;
  justify-content: center;
  gap:10px;
  margin-top:30px;
}

#characterTracker img:first-of-type {
  margin-right:80px;
}

#characterTracker img:nth-of-type(2) {
  height:50px;
}

#characterTracker div {
  display:flex;
  flex-direction: column;
  margin-top:25px;
}

#characterTracker img {
  margin-top:20px;
  margin-bottom:10px
}

#characterTracker button {
  padding:0;
}

#toggleTimeOfDayButton {
  min-width: 150px;
}

#dialogueBox {
  position: absolute;
  z-index: 100;
  width: 300px; /* Adjust width as needed */
  background-color: rgb(244, 243, 243);
  border: 1px solid #9c9c9c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 30px;
}

#timerContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#timerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#container {
  width: 100%;
}

#appControls {
  display: flex;
  justify-content: space-between;
  margin-bottom:0.3em;
}

#appControls div {
  flex: 1;
}

.character-counts {
  font-size: 35px;
}

.disclaimer {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.15em;
}

.noDisplay {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.background-endOfDay {
  background-image: url("images/village-end-of-day.webp");
}

.background-day {
  background-image: url("images/village-day.webp");
}

.background-night {
  background-image: url("images/village-night.webp");
}

.background-day,
.background-endOfDay,
.background-night {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-night #timerContainer {
  visibility: hidden;
}

.timerRunning button.restricted,
.background-night #recallButton,
.background-night #startStopButton,
.background-night #resetButton,
.background-night #editTime,
.background-night #incrementTime,
.background-night #decrementTime {
  color: rgb(147, 147, 147);
  cursor: default;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
  h1 {
    font-size: 5.5em;
  }
  button {
    font-size: 0.17em;
    padding: 5px 10px;
  }
  #toggleTimeOfDayButton {
    font-size: 1em;
  }
}

dialog::backdrop {
  background-color: #ffffff88;
}

dialog {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  max-height: calc(100% - 3em);
}

dialog h1 {
  font-size: 2em;
}

dialog a, dialog a:visited {
  color: #ffffff;
}

dialog p {
  color: #ffffff;
  font-size: 1.5rem;
}

dialog a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  scale: 1.2;
  color: rgb(177, 36, 36);
}

dialog .autoupdate input {
  background-color: #9c9c9c;
}

.gameRunning dialog input.pregame {
  background-color: rgb(177, 36, 36);
}

.abort {
  display: none;
}

.gameRunning .abort {
  display: unset;
}

dialog fieldset input {
  width: 75px;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 0.25em;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
}

dialog fieldset input[type=checkbox] {
  width: auto;
}

dialog fieldset label {
  margin-left: 1em;
}

#settingsTimerPreview table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 0.25em;
}

#settingsTimerPreview table td, #settingsTimerPreview table th {
  padding: 0 0.25em;
}

#settingsDayN {
  margin-left: 2em;
}

dialog button {
  font-size: 1.2em;
}

dialog .key {
  color: #000000;
  background-color: #ffffff;
  font-size: 1em;
}

dialog .key.active {
  background-color: rgb(177, 36, 36);
}

#settings {
  height: auto;
}

#settings-inner {
  max-height: calc(100% - 3.5em);
  overflow: auto;
  height: auto;
  margin-top: 0.5em;
}
