/* General styles */
body {
  margin: 0;
  height: 100vh;
  text-align: center;
  color: rgba(245, 245, 245, 0.905);
  display: flex;
  font-family: "Almendra", "Helvetica Neue";
  font-size: 4vw;
}

img {
  width: 50px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: rgba(245, 245, 245, 0.97);
  cursor: pointer;
  font-family: "Almendra", "Helvetica Neue";
  padding: 10px 12px 30px 12px;
  height: 30px;
}

#container {
  width: 100%;
}

/* Phase & day counter styles */
#timeOfDayContainer {
  margin-top: 5%;
}

/* Timer styles */
#timerContainer {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 17vw;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Xanh Mono", serif;
}

/* All character information styles, including roles & trackers */
#characterInformationContainer,
#roleDistribution,
#trackers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#characterInformation span {
  line-height: 55px;
}

.characterInformation {
  display: flex;
  flex-direction: column;
  width: 9vw;
  align-items: center;
}

/* In app buttons and tray */
#timerControlsContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.807);
  position: absolute;
  top: 50%;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  right: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
  line-height: 0.25em;
  transform: translateY(-50%);
}

#timerControlsContainer button {
  color: #c1a171;
}

#timerControlsContainer span {
  line-height: 20px;
  color: #c1a171;
  font-size: 0.5em;
}

#toggleHideTab {
  position: absolute;
  right: 80px;
  top: 50%;
  color: #c1a171;
  background-color: rgba(20, 20, 20, 0.807);
  border-radius: 25px;
  transform: translateY(-50%);
}

.hiddenTray {
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
}

/* Settings page */
a,
a:visited {
  color: #c1a171;
}

#settings button:hover {
  color: rgb(177, 36, 36);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#dialogueBox {
  position: absolute;
  z-index: 100;
  width: 300px; /* Adjust width as needed */
  background-color: rgb(20, 20, 20);
  color: #bcbcbc;
  text-align: left;
  padding: 0 15px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  right: 40px;
  top: 40px;
}

.grid-2-columns {
  grid-template-columns: auto auto !important;
}

.informationText {
  font-size: 0.18em;
  color: #bcbcbc;
}

.icon-tooltip .tooltiptext {
  color: red;
}

.key {
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
}

.character-counts {
  font-size: 35px;
}

.disclaimer {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.5em;
}

.noDisplay {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.shiftContent {
  transform: translateX(35%);
}

.background-endOfDay {
  background-image: url("images/village-end-of-day-new-blur.jpg");
}

.background-day {
  background-image: url("images/village-day-new-blur.jpg");
}

.background-night {
  background-image: url("images/village-night-new-blur.jpg");
}

.background-day,
.background-endOfDay,
.background-night {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-night #timerContainer {
  visibility: hidden;
}

.timerRunning button.restricted,
.background-night #recallButton,
.background-night #startStopButton,
.background-night #resetButton,
.background-night #editTime,
.background-night #incrementTime,
.background-night #decrementTime {
  color: rgb(111, 110, 110);
  cursor: inherit;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

dialog::backdrop {
  background-color: #ffffff88;
}

dialog {
  background-color: rgb(30, 30, 30);
  color: rgba(245, 245, 245, 0.97);
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  max-height: calc(100% - 3em);
  cursor: auto;
}

dialog h1 {
  font-size: 2em;
  margin: 0;
}

#infoIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 101;
}

dialog a,
dialog a:visited {
  color: #ffffff;
}

dialog p {
  color: #ffffff;
  font-size: 1.5rem;
}

.informationParagraph {
  font-size: 0.5em;
}

dialog a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  scale: 1.2;
  color: rgb(177, 36, 36);
}

dialog .autoupdate input {
  background-color: #9c9c9c;
}

.gameRunning dialog input.pregame {
  background-color: rgb(177, 36, 36);
}

.abort,
fieldset[name="features"],
fieldset[name="spotify"],
fieldset[name="timer"],
fieldset[name="keybindings"] {
  display: none;
}

.gameRunning fieldset[name="features"],
.gameRunning fieldset[name="spotify"],
.gameRunning fieldset[name="timer"],
.gameRunning fieldset[name="keybindings"] {
  display: block;
}
.gameRunning .abort {
  display: inline-block;
}

dialog fieldset input {
  width: 75px;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 0.25em;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
}

dialog fieldset input[type="checkbox"] {
  width: auto;
}

dialog fieldset label {
  margin-left: 1em;
}

#settingsTimerPreview table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 0.25em;
}

#settingsTimerPreview table td,
#settingsTimerPreview table th {
  padding: 0 0.25em;
}

#settingsDayN {
  margin-left: 2em;
}

dialog button {
  font-size: 1.2em;
}

dialog .key {
  color: #000000;
  background-color: #ffffff;
  font-size: 1em;
}

dialog .key.active {
  background-color: rgb(177, 36, 36);
}

.gameRunning #settings {
  height: 90%;
}

#settings form {
  height: calc(100% - 3em);
}

#settings-inner {
  max-height: calc(100% - 40px);
  overflow: auto;
  height: auto;
  margin-top: 0.5em;
}
