body {
  text-align: center;
  background-color: #1a1a1a;
  color: #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Almendra", "Helvetica Neue";
  font-size: 4em;
}

.background-dusk {
  background-image: url("images/village-dusk-4x.webp");
}

.background-dawn {
  background-image: url("images/village-dawn-4x.webp");
}

.background-dawn,
.background-dusk {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5em;
  color: #d6d6d6;
  margin: 0;
  font-family: "Xanh Mono", serif;
}

button {
  background-color: rgb(78, 0, 78);
  color: #d6d6d6;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.3em;
  cursor: pointer;
  font-family: "Almendra", "Helvetica Neue";
}

button:hover {
  background-color: rgb(118, 23, 107);
}

.timerRunning button.restricted {
  background-color: rgb(44, 0, 44);
  cursor: default;
}

#toggleTimeOfDayButton {
  background-color: transparent;
  color: purple;
  transition: color 0.3s;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
}

#toggleTimeOfDayButton:hover {
  color: rgb(180, 52, 165);
}

#timerContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#timerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#muteButton {
  width: 60px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#adjustTime {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
  h1 {
    font-size: 5.5em;
  }
  button {
    font-size: 0.17em;
    padding: 5px 10px;
  }
  #toggleTimeOfDayButton {
    font-size: 1em;
  }
}
