body {
  text-align: center;
  color: rgba(236, 236, 236, 0.971);
  display: flex;
  font-family: "Almendra", "Helvetica Neue";
  font-size: 4rem;
}

img {
  width: 50px;
}

h1 {
  font-size: 5em;
  margin: 0;
  font-family: "Xanh Mono", serif;
}

button {
  background-color: transparent;
  color: #a48c68;
  border: none;
  font-size: 0.25em;
  cursor: pointer;
  font-family: "Almendra", "Helvetica Neue";
  transition: transform 0.3s ease;
  padding: 10px 12px 30px 12px;
  height: 30px;
}

.dividers {
  padding: 0px 12px;
  height: 2px;
  position: relative;
  bottom: 5px;
}

#settingsContainer,
#timerControlsContainer {
  background-color: rgba(20, 20, 20, 0.807);
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#settingsContainer {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 0;
  top: 0px;
  height: 70px;
}

#timerControlsContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  bottom: 0px;
  height: 85px;
}

#informationTextContainer {
  display: flex;
  gap: 125px;
  justify-content: space-between;
  margin-top: 0px;
}

#settings2 {
  display: flex;
}

#settingsInformationText {
  display: flex;
  justify-content: center;
}

#timerControls {
  display: inline-flex;
}

.informationText {
  font-size: 0.18em;
  color: #bcbcbc;
}

#timeOfDayContainer {
  margin-top: 100px;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

p,
dl {
  font-size: 0.2em;
  color: rgb(61, 61, 61);
  text-align: left;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 2px;
}

dt {
  grid-column-start: 1;
}

.key {
  background-color: #000;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 2px;
  display: inline-block;
}

dd {
  grid-column-start: 2;
}

#dialogueBox {
  position: absolute;
  z-index: 100;
  width: 300px; /* Adjust width as needed */
  background-color: rgb(20, 20, 20);
  border: 1px solid #9c9c9c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 30px;
}

#timerContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#container {
  width: 100%;
}

.character-counts {
  font-size: 35px;
}

.disclaimer {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.15em;
}

.noDisplay {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.background-endOfDay {
  background-image: url("images/village-end-of-day-new-blur.jpg");
}

.background-day {
  background-image: url("images/village-day-new-blur.jpg");
}

.background-night {
  background-image: url("images/village-night-new-blur.jpg");
}

.background-day,
.background-endOfDay,
.background-night {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-night #timerContainer {
  visibility: hidden;
}

.timerRunning button.restricted,
.background-night #recallButton,
.background-night #startStopButton,
.background-night #resetButton,
.background-night #editTime,
.background-night #incrementTime,
.background-night #decrementTime {
  color: rgb(147, 147, 147);
  cursor: default;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
  h1 {
    font-size: 5.5em;
  }
  button {
    font-size: 0.17em;
    padding: 5px 10px;
  }
  #toggleTimeOfDayButton {
    font-size: 1em;
  }
}

dialog::backdrop {
  background-color: #ffffff88;
}

dialog {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5rem;
  max-height: calc(100% - 3em);
}

dialog h1 {
  font-size: 2em;
}

dialog a,
dialog a:visited {
  color: #ffffff;
}

dialog p {
  color: #ffffff;
  font-size: 1.5rem;
}

dialog a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  scale: 1.2;
  color: rgb(177, 36, 36);
}

dialog .autoupdate input {
  background-color: #9c9c9c;
}

.gameRunning dialog input.pregame {
  background-color: rgb(177, 36, 36);
}

.abort {
  display: none;
}

.gameRunning .abort {
  display: unset;
}

dialog fieldset input {
  width: 75px;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 0.25em;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 0.5em;
}

dialog fieldset input[type="checkbox"] {
  width: auto;
}

dialog fieldset label {
  margin-left: 1em;
}

#settingsTimerPreview table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 0.5em;
  padding: 0.25em;
}

#settingsTimerPreview table td,
#settingsTimerPreview table th {
  padding: 0 0.25em;
}

#settingsDayN {
  margin-left: 2em;
}

dialog button {
  font-size: 1.2em;
}

dialog .key {
  color: #000000;
  background-color: #ffffff;
  font-size: 1em;
}

dialog .key.active {
  background-color: rgb(177, 36, 36);
}

#settings {
  height: auto;
}

#settings-inner {
  max-height: calc(100% - 3.5em);
  overflow: auto;
  height: auto;
  margin-top: 0.5em;
}
