@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Xanh+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Almendra', serif;
  }

  #root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

@layer utilities {
  .text-4vw {
    font-size: 4vw;
  }

  .text-17vw {
    font-size: 17vw;
  }
}

